doctype html
html(lang="es-ES")
    head
        meta(charset='utf-8')
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= "KIOSKO DE CUPONES - METRO"
        meta(name='description', content="")
        meta(name='keywords', content="")

        // Theme color (Only Chrome Mobile)
        meta(name="theme-color", content="")

        // Facebook meta tags
        meta(property='og:title', content="")
        meta(property='og:description', content="")
        meta(property='og:type', content="website")
        meta(property='og:url', content="")
        meta(property='og:image', content="")

        //Favicon
        link(rel='shortcut icon', type='image/x-icon', href="images/favicon.png")

        //Canonical
        link(rel="canonical", href="http://localhost")

        link(rel='stylesheet', href='css/style.css')

        |<!--[if lte IE 9]>
        |<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
        |<![endif]-->

        script(type="application/ld+json").
            {
              "@context": "http://www.schema.org",
              "@type":    "WebSite",
              "name":     "KIOSKO DE CUPONES - METRO",
              "alternateName": "KIOSKO DE CUPONES - METRO",
              "url":      "http://localhost"
            }

        script.
            var $buoop = {vs:{i:9,f:-4,o:-4,s:7,c:-4},c:4};
            function $buo_f(){
             var e = document.createElement("script");
             e.src = "//browser-update.org/update.min.js";
             document.body.appendChild(e);
            };
            try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
            catch(e){window.attachEvent("onload", $buo_f)}


        script.
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
                ga('create', 'UA-XXXXXXXX-X', 'auto');
                ga('send', 'pageview');

    body
        block identify
            input#identify(type="hidden", data-controller="home", data-action="")


        block content


        block bottom

        // jQuery Librerias
        //-script(src='js/vendor/vendor_all.js', type='text/javascript')

        // Compilado de application.js
        //-script(src='js/bundle.js')