.header-terminos
	img(src="images/logo.png?v=2" class='logo-terminos')
.header-terminos-linea

.body-terminos
	.texto-terminos
		p(class="titulo-terminos") TÉRMINOS Y CONDICIONES #[br] DE USO DEL KIOSKO DE CUPONES
		br
		p El acceso y uso de este dispositivo se rige por los "Términos y Condiciones" descritos a continuación, así como los establecidos en el sitio web metro.com.pe, y por la legislación que se aplique en la República de Perú. En consecuencia, todo uso de este dispositivo y todos los contratos y transacciones que se realicen en él, como asimismo sus efectos jurídicos, quedarán regidos por estas reglas y sometidas a esta legislación. 
		p Los Términos y Condiciones contenidos en este instrumento se aplicarán y se entenderá que forman parte de todos los actos y contratos que se ejecuten o celebren mediante los sistemas de oferta y comercialización comprendidos en este dispositivo entre los USUARIOS y CENCOSUD RETAIL PERU S.A., la cual se denominará en adelante también en forma indistinta como "la empresa", o bien "la empresa oferente", "el proveedor" o “METRO”, según convenga al sentido del texto. 
		p METRO se reserva el derecho de actualizar y/o modificar los Términos y Condiciones que detallamos a continuación en cualquier momento, sin previo aviso. Por esta razón recomendamos revisar los Términos y Condiciones antes de cada uso, sea a través de del dispositivo o consultando el siguiente link: https://metro.com.pe/aplicacion-kiosko.html
		p A continuación, detallamos los Términos y Condiciones: 
		p #[strong El dispositivo y su aplicación]
		p El dispositivo y la aplicación implementada hace referencia al hardware y software respectivamente proporcionado por METRO para ofrecer beneficios mediante la impresión de cupones de descuento los cuales pueden ser utilizados en las cajas de nuestras tiendas, siendo ocasionalmente en cualquier actualización y en cualquier otro software o documentación que permite el uso de los mismos. “Términos de uso” hace referencia a los términos y condiciones relacionados con el uso del dispositivo y con lo detallado en el presente documento.
		p #[strong Protección De Datos Personales] 
		p Toda la información personal que proporciona al hacer uso del dispositivo y aplicación será utilizada por Metro conforme a la política de privacidad, que se puede consultar en: https://metro.com.pe/politica-de-privacidad-web.html 
		p #[strong Uso del dispositivo]
		p El dispositivo y aplicación permite el acceso a los beneficios que METRO le otorga mediante cupones de descuento con vigencia indicada en el mismo. Para acceder a ellos, el usuario deberá ingresar su documento de identidad. Cuando los legales del cupón de descuento muestre “No transferible” deberá ser canjeado sólo por Él y no podrá ser otorgado a un tercero.  
		p #[strong Registro de Usuario]
		p Para acceder a los beneficios, el usuario deberá pertenecer como cliente al sistema bonus quienes aceptan las condiciones del programa suscribiendo una ficha de afiliación (Contrato) que incluye una serie de disposiciones relacionadas a la ley. 
		p #[strong Derecho de Propiedad Intelectual y Licencias]
		p Las marcas registradas, los derechos de copyright, los derechos de base de datos, y otras propiedades intelectuales de cualquier índole de la aplicación del dispositivo, junto con el código de software subyacente, les pertenecen directamente a METRO, ORION ENTERPRISES, o bien a sus licenciantes. 
		p #[strong Condiciones de Uso]
		p METRO se reserva el derecho de modificar o retirar el dispositivo, o el servicio proporcionado conforme a estos términos de uso, en cualquier momento y por cualquier motivo. 
		p #[strong Disponibilidad]
		p Este dispositivo está disponible en las tiendas de Supermercados METRO para el uso adecuado del cliente. METRO realizará todos los esfuerzos razonables para que el dispositivo esté disponible permanentemente. 
		p #[strong Rescisión]
		p METRO puede rescindir el uso del dispositivo en cualquier momento. En el momento de la rescisión, los derechos y las licencias otorgadas por el presente finalizarán. Toda la información almacenada de las interacciones de los usuarios con el dispositivo podrá ser utilizado a manera de estudio para posteriormente con tiempo ilimitado.  
		p #[strong Limitación de la Responsabilidad]
		p En ninguna circunstancia METRO será responsable por la pérdida o daño directo, indirecto, especial, punitivo de los cupones impresos mediante este dispositivo o cualquier otro medio.
		br
		br
