.header-terminos{
	background-color: #ffed00;
	height: 130px;
	text-align: center;
	padding-top: 10px;
	width: 100%;
	&-linea {
		background-color: #c41817;
		height: 10px;		
	}
}

.logo-terminos{
	width: 125px;
}

.body-terminos{
	font-family: "PT Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 20px;
    color: #000000;
}
.texto-terminos{
	margin-top: 70px;
	margin-left: auto;
    margin-right: auto;
    width: 80%;
	text-align: justify;
	@media only screen and (max-width: 768px) {
    	width: 85%;
	}

}

.titulo-terminos {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    @media only screen and (max-width: 768px) {
    	font-size: 20px;
    }
}